@using openCaseMaster.Models;
@model M_testCase

@{
    string nameLabel, markLabel;
    if (Model.type == 0)
    { nameLabel = "文件夹"; }
    else
    { nameLabel = "案例"; }
    markLabel = "备注";
}


<script>
    //@@ sourceURL=EditCase.js
    function ResetForm() {
        document.getElementById('Name').value = "";
        document.getElementById('mark').value = "";
    }

    function Save() {

            var e =
                {
                    ID: $('#ID').val(),
                    Name: $('#Name').val(),
                    mark: $('#mark').val()
                };
            if (e.Name.trim().length == 0)
                return;


            $.post("/TestCase/EditCase", e).then(
                function (r) {
                    var selectNode = $('#caseTreeList').tree("getSelected");

                    $('#caseTreeList').tree('update', {
                        target: selectNode.target,
                        text: e.Name
                    });
                    //这里未判断是否正确返回
                    $('#dialog').dialog('close');
                    
                }
                );

    }


    $(function () {
        //设置text需要验证
        $('input[type=text]').validatebox();
    })

</script>


<input type="hidden" id="ID" name="ID" value="@Model.ID" />
<br />
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label">@nameLabel</label>
        <div class="col-md-8">

            <input type="text" id="Name" name="Name" value="@Model.Name" class="easyui-validatebox"
                   data-options="required:true,validType:'length[1,50]',missingMessage:'不能为空'" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">@markLabel</label>
        <div class="col-md-8">
            <input type="text" id="mark" name="mark" value="@Model.mark" />

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="button" name="BtnSubmit" value="提交" onclick="Save();" />

            <input type="button" name="BtnReset" value="重置" onclick="ResetForm();" />
        </div>
    </div>

</div>

