@{
    ViewBag.Title = "消息 » 测试社区";
}
@using openCaseMaster.ViewModels
@model List<notificationModel>
@section Scripts {
    @Scripts.Render("~/bundles/markdownView")

    @Styles.Render("~/Content/markdownView")

    <script type="text/javascript">
        $(function () {
            $(".markdownView").each(function () {
                editormd.markdownToHTML($(this), {
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    emoji: true,
                    taskList: true,
                    tex: false,  // 默认不解析
                    flowChart: false,  // 默认不解析
                    sequenceDiagram: false,  // 默认不解析
                });
            })
        })
    </script>
}
<div id="notifications" class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-default" href="#"><i class="fa fa-fa fa-filter"></i> <span>未读通知</span></a>
        <div class="pull-right">
            <a class="btn btn-danger" data-disable-with="清空中..." rel="nofollow" data-method="post" href="#"><i class="fa fa-fa fa-trash"></i> <span>清空</span></a>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var m in Model)
        {
            <div class="media notification">
                <div class="media-left avatar">
                    <a href="/User/@m.User.userName"><img class="media-object avatar-48" src="@m.User.AvatarUrl"></a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="info">
                            在帖子 <a title="@m.title" href="/topic/@m.topicID">@m.title</a>
                            @if(m.floor>0)
                            { 
                               <span> · </span> <a class="reply-floor" href="/topic/@m.topicID">#@m.floor </a>
                            }
                            提及你：
                        </span>
                        @if (m.state == 0)
                        {
                            <span class="new label label-warning">新</span>
                        }
                        <span class="date pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="@m.creatDate">@m.timeago</abbr></span>
                    </div>
                    <div class="panel-body markdownView">
                        <textarea style="display:none;">@m.body</textarea>
                    </div>
                </div>

                <div class="media-right opts">
                    <a href="#"><i class="fa fa-trash"></i> </a>
                </div>
            </div>

        }
    </div>
    <div class="panel-footer">
        @Html.Pagination((int)ViewBag.page, (int)ViewBag.total, (int)ViewBag.rows)
    </div>
</div>