@using openCaseMaster.ViewModels;
@model userInfoModel

@section Scripts {


    <script src="/Scripts/plupload/plupload.full.min.js"></script>
    <script>


        $(function () {
            //实例化一个plupload上传对象
            var uploaderF = new plupload.Uploader({
                browse_button: 'uploadF', //触发文件选择对话框的按钮，为那个元素id
                runtimes: 'html5',
                url: '/UploadFile/userAvatar', // 服务端上传路径
                unique_names: false, // 上传的文件名是否唯一
                max_file_size: '512kb', // 文件上传最大限制。
                //// 是否生成缩略图（仅对图片文件有效）
                //resize: { width: 320, height: 240, quality: 90 },
                ////  这个数组是选择器，就是上传文件时限制的上传文件类型
                filters: [{ title: "Image files", extensions: "jpg,png,jpeg" }
                ],
                multi_selection: false

            });

            uploaderF.init();


            uploaderF.bind('FilesAdded', function (uploader, files) {
            
                $('#uploadF').attr("disabled", true);
                $('#uploadF img').show();
                uploader.start();
                
            });

            uploaderF.bind('Error', function (uploader, errObject) {
                $('#uploadF').removeAttr("disabled");
                $('#uploadF img').hide();
                alert("上传失败,请联系管理员");
            });

            //绑定各种事件，并在事件监听函数中做你想做的事
            uploaderF.bind('FileUploaded', function (up, file, result) {
                //$("#userAvatar").attr("src","new_src");
                $('#uploadF').removeAttr("disabled");
                $('#uploadF img').hide();
                alert("上传成功,稍后生效");
            });
        });
    </script>
}


<div class="row">
    <div class="sidebar col-md-4">
        <div class="panel profile panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="avatar media-left">

                        <div class="image">
                            <img class="media-object avatar-120" id="userAvatar" src="~/Content/userAvatar/@Model.Avatar" />
                        </div>

                    </div>
                    <div class="media-body">
                        <div class="item">
                            @Model.userName (@Model.Name)
                            <span class="opts pull-right">
                            </span>
                        </div>
                        <div class="item number">
                            第 <span>@Model.ID</span> 位会员 / <span title="注册日期">@Model.creatDate.ToString("yyyy-MM-dd")</span>
                        </div>
                        <div class="item counts">
                            <span>@Model.topicCount</span> 篇帖子 • <span>@Model.replyCount</span> 条回帖 • <span>0</span> 积分
                        </div>
                        <div class="item social">

                           
                            <div class="span">
			<div class="help"></div>
		</div>
                            
                            @if (User.userID() == Model.ID)
                            { 
                                <button type="button" class="btn btn-primary" id="uploadF" ><img style="width:20px;margin-right:10px;display:none;" src="~/Content/images/loading.gif" />更换头像</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="follow-info row">

                </div>
            </div>
        </div>

        <div class="panel panel-default" id="user_qrcode">
            <div class="panel-heading">个人二维码</div>
            <div class="panel-body">

            </div>
        </div>


    </div>

    <div class="col-md-8">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#newTopics" data-toggle="tab">
                    热门帖子
                </a>
            </li>
           
            <!-- <li><a href="#replys" data-toggle="tab">最近回帖</a></li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active topics" id="newTopics">



                <div class="panel panel-default">
                    <ul class="list-group">
                        @foreach (var topic in Model.newTopics)
                        {
                            <li class="list-group-item topic">
                                <div class="title media-heading">
                                    <a title="@topic.title" href="/topic/@topic.ID">@topic.title</a>
                                </div>
                                <div class="info">
                                    <span class="node"><a class="node" href="/Topic/node/@topic.node">@openCaseMaster.Models.topicHelper.nodes[topic.node]</a></span>
                                    <span class="counter">@topic.replys 条回复</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>



            </div>
            <div class="tab-pane fade" id="replys">
                <p>
                   
                </p>
            </div>

        </div>
    </div>

</div>






