@using openCaseMaster.ViewModels
@model List<taskModel_view>

@{
    string IndexCss, RealCss, NewCss;
    IndexCss = RealCss = NewCss = "";
    if (ViewBag.select == "Real")
    {
        RealCss = "class=popular";
    }
    else if (ViewBag.select == "New")
    {
        NewCss = "class=popular";
    }
    else
    {
        IndexCss = "class=popular";
    }
}

<br />
<div class="row">
    <div class="col-md-9">
        <div class="topics panel panel-default">
            <div class="panel-heading clearfix">
                <div class="filter pull-right">
                    <span class="l">查看:</span>
                    <a href="/PublicTask/Index" @IndexCss>全部</a> /
                    <a href="/PublicTask/Real" @RealCss><i class="glyphicon glyphicon-star"></i> 当前任务</a> /
                    <a href="/PublicTask/Index" @NewCss>最新创建</a>
                </div>

                

            </div>

            <div class="panel-body">

                @foreach (var tmv in Model)
                {
                    <div class="topic media">
                        <div class="avatar media-left">
                            <a href="#"><img class="media-object avatar-48" src="~/Content/images/everyone.jpg"></a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="@tmv.title" href="/PublicTask/@tmv.ID">@tmv.title</a>

                            </div>
                            <div class="info">
                                <a class="node" href="#">@tmv.appName</a>
                                •
                                <a data-author="true" data-name="nana" href="#">@tmv.userName</a>
                                <span class="hidden-mobile">
                                    于 <abbr class="timeago" title="@tmv.creatDate">@tmv.timeago</abbr>发布
                                </span>
                                •
                                @if(@tmv.scriptCount>0)
                                {
                                <a class="state-false" title="测试案例" href="/PublicTask/@tmv.ID">@tmv.scriptCount 个案例</a>
                                }
                            </div>
                        </div>
                        <!--
                        <div class="count media-right">
                                <a class="state-false" title="案例数" href="/PublicTask/1">1</a>
                        </div>
                             -->
                    </div>
                }
            </div>

            <div class="panel-footer clearfix">
                <ul class="pagination">@Html.Pagination((int)ViewBag.page,0)</ul>
            </div>

        </div>





    </div>


    <div class="sidebar col-md-3">

        <div class="panel panel-default clearfix">
            <div class="panel-body">
                <div class="btn-group pull-left">
                    <a class="btn btn-primary" href="/topics/new">发布新话题</a>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/topics/new?node=23">Appium</a>
                        </li>
                        <li>
                            <a href="/topics/new?node=32">移动性能测试</a>
                        </li>
                        <li>
                            <a href="/topics/new?node=33">移动测试基础</a>
                        </li>
                        <li>
                            <a href="/topics/new?node=36">新手区</a>
                        </li>
                        <li>
                            <a href="/topics/new?node=37">匿名吐槽</a>
                        </li>
                    </ul>
                </div>

                <a title="订阅 TesterHome 社区新话题" class="pull-right feed-button btn btn-default" target="_blank" href="https://testerhome.com/topics/feed"><span></span> RSS</a>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">小帖士</div>
            <div class="panel-body">
                android:versionName:这个是我们常说明的版本号，由三部分组成&lt;major&gt;.&lt;minor&gt;.&lt;point&gt;,该值是个字符串，可以显示给用户。
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Appium 国内下载地址</div>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://testerhome.com/topics/680"><img src="https://testerhome.com/photo/2016/de64ebce1943cdf34d109ca4611359b4.png" height="100%" width="100%"></a>
                </li>
            </ul>
        </div>

        <div class="panel panel-default">

            <a href="http://www.ucloud.cn/site/seo.html?utm_source=cost&amp;utm_campaign=testerhome&amp;utm_medium=display&amp;utm_content=shengji&amp;ytag=%5Ftesterhome%5Fdisplay&#10;">
                <img src="https://testerhome.com/photo/2016/677ce747d3151f3c493c6dbb65fefa3d.png" height="100%" width="100%">
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">TesterHome 官方Android客户端</div>
            <div class="content" style="text-align:center">
                <a href="http://fir.im/p9vs">
                    <img src="https://testerhome.com/photo/2015/f4a07b35098dc28fa3e4269c8af2fc7b.png" height="200" width="200">
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">微信公众号</div>
            <div class="content" style="text-align:center">
                <img src="/weixin.jpg" height="200" width="200">
            </div>
        </div>

        <!--div class="panel panel-default">
          <div class="panel-heading">TesterHome 官方周边淘宝店</div>

        <ul class="list-group">
        <li class="list-group-item">
        <ul class="list-group">
        <li class="list-group-item">
          <a href="https://shop101471186.taobao.com/"><img src='https://testerhome.com/photo/2015/202a862228ffedf0618892d05cdddfea.png'   height="100%"  width="100%" ></a>
        </li>
        </ul>
        </div-->



        <div class="panel panel-default">
            <div class="panel-heading">测试小道消息</div>
            <div class="content" style="text-align:center">

                <a href="http://www.lizhi.fm/245329/" target="_blank" title="测试小道消息" rel="nofollow">
                    <img src="https://testerhome.com/photo/2015/f4d8e6aa1da01f9e8e4336f813f2bc94.png" height="200" width="200">
                </a>
            </div>
        </div>
        <!--div class="panel panel-default">
          <div class="panel-heading">求打赏</div>
         <div class="content" style="text-align:center;">
         <a href="https://testerhome.com/topics/2787" target="_blank" title="中国移动测试大会" rel="nofollow">
             <img src='https://testerhome.com/photo/2015/c94fe74a2217fcb013b5ee0fea403727.png'   height="100%"  width="100%" >
         </div>
        </a>
        </div-->



        <div class="panel panel-default">
            <div class="panel-heading">合作伙伴</div>
            <ul class="list-group" style="text-align:center">

                <li class="list-group-item">
                    <a href="http://mqc.aliyun.com/" target="_blank" title="阿里移动质量中心">
                        <img src="https://testerhome.com/photo/2015/fd6148e9510ea4e05f2381ebca05d3c8.png" height="100%" style="width:100%;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="http://fir.im/" target="_blank" title="fir.im是一个免费App托管平台">

                        <img src="https://testerhome.com/photo/2015/e7f81b3a841a06c32f80f87495d83590.png" style="width:120px;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="http://ruby-china.org" target="_blank" title="Ruby China">
                        <img src="https://testerhome.com/photo/2015/6f5b0ecb45d8c0507bd632451c19c14c.png" style="width:120px;height:40px;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="http://oneapm.com" target="_blank" title="OneAPM">
                        <img src="https://testerhome.com/photo/2015/c8cc4df5ca519ff65b1f5e3826dc5143.png" style="width:64px;height:64px;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="https://coding.net" target="_blank" title="coding.net">
                        <img src="https://testerhome.com/photo/2015/441ce95804c42e531fb801c01707b7db.png" style="width:120px;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="http://ionichina.com/" target="_blank" title="全球最大的 Ionic Framework 中文社区">
                        <img src="https://testerhome.com/photo/2015/f35ff853632c471f5f9cd912f4ad8e15.png" style="width: 120px; margin: 0px 0;">
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="https://phphub.org" target="_blank" title="PHPhub 是积极向上的 PHP &amp; Laravel 开发者社区">
                        <img src="https://testerhome.com/photo/2015/4d8097aa28b6f7953a5dd121764c9267.png" style="width:120px; margin: 6px 0;">
                    </a>
                </li>

            </ul>
        </div>




        <!--div class="panel panel-default">
        <div class="panel-heading">新书推荐</div>

         <div class="content" style="text-align:center">
            <a href="https://testerhome.com/topics/1113" target="_blank" title="Monkey 陈晔呕心之作" rel="nofollow"><img src="http://img31.ddimg.cn/78/20/23510301-1_w_1.jpg" width="100%" height="100%"></a>
           </div>
        </div-->



        <div class="panel panel-default">
            <div class="panel-heading">统计信息</div>
            <ul class="list-group">
                <li class="list-group-item">社区会员: 9082 人</li>
                <li class="list-group-item">帖子数: 4865 个</li>
                <li class="list-group-item">回帖数: 41543 条</li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">用户积分</div>
            <ul class="list-group">
                <li class="list-group-item"><a data-name="monkey" href="/monkey">monkey</a>: 3611 </li>
                <li class="list-group-item"><a data-name="陈恒捷" href="/chenhengjie123">chenhengjie123</a>: 2942 </li>
                <li class="list-group-item"><a data-name="恒温" href="/lihuazhang">lihuazhang</a>: 2739 </li>
                <li class="list-group-item"><a data-name="匿名" href="/anonymous">anonymous</a>: 2180 </li>
                <li class="list-group-item"><a data-name="易寒" href="/doctorq">doctorq</a>: 1932 </li>
                <li class="list-group-item"><a data-name="思寒" href="/seveniruby">seveniruby</a>: 1870 </li>
                <li class="list-group-item"><a data-name="026" href="/gaopeng1106">gaopeng1106</a>: 1525 </li>
                <li class="list-group-item"><a data-name="testly" href="/testly">testly</a>: 1487 </li>
                <li class="list-group-item"><a data-name="银桑" href="/mads">mads</a>: 1474 </li>
                <li class="list-group-item"><a data-name="OneAPM官方技术博客" href="/oneapm_official">oneapm_official</a>: 1416 </li>
            </ul>
        </div>


    </div>

</div>
