@using openCaseMaster.ViewModels
@model taskModel_view

@section Scripts {
    <link rel="stylesheet" href="/Content/editormd.preview.css" />

       <script src="/Scripts/editormd/lib/marked.min.js"></script>
        <script src="/Scripts/editormd/lib/prettify.min.js"></script>
        <script src="/Scripts/editormd/lib/raphael.min.js"></script>
        <script src="/Scripts/editormd/lib/underscore.min.js"></script>
        <script src="/Scripts/editormd/lib/sequence-diagram.min.js"></script>
        <script src="/Scripts/editormd/lib/flowchart.min.js"></script>
        <script src="/Scripts/editormd/lib/jquery.flowchart.min.js"></script>

    <script src="/Scripts/editormd.js"></script>
    <script type="text/javascript">
        $(function () {

            @if (ViewBag.add == true)
            {
                @Html.Raw("localStorage.clear();");
            }

            editormd.markdownToHTML("markdownView", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });


        });
    </script>

}






<br />
<div class="col-md-9">
    <div class="topic-detail panel panel-default">
        <div class="panel-heading media clearfix">
            <div class="media-body">
                <h3 class="media-heading">@Model.title</h3>
                <div class="info">
                    <a class="node" href="#">@Model.appName</a>
                    ·
                    <a data-author="true" data-name="tongyx" href="#">@Model.userName</a>
                    ·
                    于 <abbr class="timeago" title="@Model.creatDate">@Model.timeago</abbr>发布

                </div>
            </div>
            <div class="avatar media-right">
                <a href="#"><img class="media-object avatar-48" src="~/Content/images/everyone.jpg"></a>
            </div>
        </div>

        <div class="panel-body markdown" id="markdownView">

            <textarea id="append-test" style="display:none;">
@Model.body
            </textarea>
        </div>



    </div>


</div>