@using openCaseMaster.ViewModels
@model taskModel_add

@section Scripts {
    @Styles.Render("~/Content/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")

    @Scripts.Render("~/bundles/jqueryval")

     

}



@using (Html.BeginForm("add", "Topic", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.ValidationMessageFor(m => m.node, "", new { @class = "text-danger" })
    <div class="panel panel-default">
        <div class="panel-heading">发布新任务</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="node-select input-group-btn">
                        @Html.DropDownListFor(t => t.node, ViewBag.nodes as List<SelectListItem>, new { @class = "selectpicker", @data_live_search = "true", @data_width = "140px" })
                    </span>
                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", @placeholder = "在这里填写标题" })
                </div>
            </div>
            <ul id="myTab" class="nav nav-tabs" style="border-bottom:0px;">
                <li class="active">
                    <a href="#edit" data-toggle="tab">主题描述</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                @Html.Partial("_taskMarkdown")
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary col-xs-2" />

                <div class="pull-right"><a href="/markdown/help" target="_blank"><i class="fa fa-tip"></i> 排版说明</a></div>
            </div>


        </div>
    </div>

}


