@using openCaseMaster.ViewModels
@model topicTaskModel

@section Scripts {
    @Styles.Render("~/Content/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
       

      
        $(function () {
            //$("#script *[name]").attr("disabled", "disabled");

            $('#node').change(function () {
                var sel = $(this).val();
                if (sel == 101) {
                    $("#taskForm").attr("action", "adminAdd");
                    $("#script *[name]").removeAttr("disabled");//前端验证去除
                    $("#script button[data-id]").removeClass("disabled");//很傻的select

                    $("#scriptTab").show();
                }
                else {
                    $("#taskForm").attr("action", "add");
                    $("#script *[name]").attr("disabled", "disabled");
                    

           
                    $('#myTab a[href="#edit"]').tab('show');
                    $("#scriptTab").hide();
                }
            })
        });
    </script>

}

@using (Html.BeginForm("adminAdd", "Topic", FormMethod.Post, new {id="taskForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.ValidationMessageFor(m => m.node, "", new { @class = "text-danger", style = "display:block;" })

    @Html.ValidationMessageFor(m => m.appID, "", new { @class = "text-danger", style = "display:block;" })

    <div class="panel panel-default">
        <div class="panel-heading">创建话题</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="node-select input-group-btn">
                        @Html.DropDownListFor(t => t.node, ViewBag.nodes as List<SelectListItem>, new { @class = "selectpicker", @data_live_search = "true", @data_width = "140px" })
                    </span>
                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", @placeholder = "在这里填写标题" })
                </div>
            </div>
            <ul id="myTab" class="nav nav-tabs" style="border-bottom:0px;">
                <li class="active">
                    <a href="#edit" data-toggle="tab">话题内容</a>
                </li>

                <li id="scriptTab" style="display: none;"><a href="#script" data-toggle="tab">相关案例</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                @Html.Partial("_topicMarkdown")


                @Html.Partial("_taskScriptAdd", Model)
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary col-xs-2" />

                <div class="pull-right"><a href="#" target="_blank"><i class="fa fa-tip"></i> 排版说明</a></div>
            </div>


        </div>
    </div>

}

