@using openCaseMaster.ViewModels
@model topicTaskModel

@{
    var nodes = ViewBag.nodes as List<SelectListItem>;
    var nodeID = nodes.First(t => t.Selected == true).Value;
}

@section Scripts {
    @Styles.Render("~/Content/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/markdown")

    @Styles.Render("~/Content/markdown")

    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/locale/bootstrap-datetimepicker.zh-CN.js"></script>
    <link href="/Content/bootstrap-datetimepicker.css" rel="stylesheet">


    <script src="/Scripts/plupload/plupload.full.min.js"></script>

    <script type="text/javascript">
        $(function () {



            $('#node').change(function () {
                var sel = $(this).val();
                if (sel > 100)
                    window.location.href = "?node=" + sel;
            })

            $(".form_date").datetimepicker({
                format: "yyyy-mm-dd h:00",
                language: 'zh-CN',
                autoclose: true,//选择日期后立即关闭
                todayBtn: true,
                todayHighlight: true,
                minView: 1
            });




            editormd("editormd", {
                name: "body",
                //theme: "dark",
                //previewTheme: "dark",
                //editorTheme: "pastel-on-dark",
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/UploadFile/imgUpLoad",
                toolbarIcons: function () {
                    return ["undo", "redo", "|", "watch", "preview", "|", "bold", "del", "italic", "hr", "|", "h1", "h2", "h3", "|", "link", "image", "emoji", "table", "code-block", "datetime", "||", "watch", "preview"]
                },
                watch: false,
                lineNumbers: false,
                height: 520,
                path: '/Scripts/editormd/lib/',
                //markdown: localStorage["addTask"],
                markdown: localStorage["markdown"],
                emoji: true,
                delay: 1000,
                onchange: function () {
                    localStorage.setItem("markdown", this.getMarkdown());
                }
            });


        });
    </script>


}

@using (Html.BeginForm("adminAdd", "Topic", FormMethod.Post, new { id = "taskForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.ValidationMessageFor(m => m.node, "", new { @class = "text-danger", style = "display:block;" })

    @Html.ValidationMessageFor(m => m.appID, "", new { @class = "text-danger", style = "display:block;" })

    <div class="panel panel-default">
        <div class="panel-heading">创建测试任务</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="node-select input-group-btn">
                        @Html.DropDownListFor(t => t.node, nodes, new { @class = "selectpicker", @data_live_search = "true", @data_width = "140px" })
                    </span>
                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", @placeholder = "在这里填写标题" })
                </div>
            </div>

            <div class="tab-pane fade in active" id="edit">
                <div id="editormd"></div>
            </div>




            @if (nodeID == "101")
            {
                @Html.Partial("_taskScriptAdd", Model)
            }
            else if (nodeID == "102")
            {
                @Html.Partial("_taskStepAdd", Model)
            }



            <br />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary col-xs-2" />

                <div class="pull-right"><a href="/Topic/markdown" target="_blank"><i class="fa fa-tip"></i> 排版说明</a></div>
            </div>


        </div>
    </div>

}

