@using openCaseMaster.ViewModels
@model editTaskModel

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/markdown")

    @Styles.Render("~/Content/markdown")

    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/locale/bootstrap-datetimepicker.zh-CN.js"></script>
    <link href="/Content/bootstrap-datetimepicker.css" rel="stylesheet">

    <script type="text/javascript">
        $(function () {

            $(".form_date").datetimepicker({
                format: "yyyy-mm-dd h:00",
                language: 'zh-CN',
                autoclose: true,//选择日期后立即关闭
                todayBtn: true,
                todayHighlight: true,
                minView: 1
            });

            editormd("editormd", {
                name: "body",
                //theme: "dark",
                //previewTheme: "dark",
                //editorTheme: "pastel-on-dark",
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/UploadFile/imgUpLoad",
                toolbarIcons: function () {
                    return ["undo", "redo", "|", "watch", "preview", "|", "bold", "del", "italic", "hr", "|", "h1", "h2", "h3", "|", "link", "image", "emoji", "table", "code-block", "datetime", "||", "watch", "preview"]
                },
                watch: false,
                lineNumbers: false,
                height: 520,
                path: '/Scripts/editormd/lib/',
                //markdown: localStorage["addTask"],
                markdown: $("#md").val(),
                emoji: true,
                delay: 1000
            });
        });
    </script>
}



@using (Html.BeginForm("editTask", "Topic", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(t => t.ID)
    <div class="panel panel-default">
        <div class="panel-heading">修改测试任务</div>
        <div class="panel-body">

            <div class="form-group">
                <div class="input-group">
                    <span style="min-width:140px;" class="input-group-addon">@openCaseMaster.Models.topicHelper.nodes[Model.node]</span>

                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", @placeholder = "在这里填写标题" })
                </div>
            </div>


            <div class="tab-pane fade in active" id="edit">
                <div id="editormd"></div>
            </div>
            <textarea id="md" hidden>@Model.body</textarea>


            <div id="reply" class="panel panel-default" style="border-top:1px dashed #ff6a00">
                <div class="panel-heading"><b>测试app:</b><a href="#">@Model.appName</a></div>
                <div class="panel-body">

                    <div class="row">
                        <label class="col-md-2 control-label">开始时间</label>
                        <div class="input-append date form_date col-md-4" style="display: table;">
                            @Html.TextBoxFor(m => m.startDate, new { @Value = Model.startDate == null ? "" : Model.startDate.Value.ToString("yyyy-MM-dd hh:mm:ss"), @class = "form-control", @size = "16", @readOnly = "readOnly" })
                            <span class="add-on input-group-addon"><span class="icon-remove glyphicon glyphicon-remove"></span></span>
                            <span class="add-on input-group-addon"><span class="icon-calendar glyphicon glyphicon-calendar"></span></span>
                        </div>


                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-2 control-label">结束时间</label>
                        <div class="input-append date form_date col-md-4" style="display: table;">
                            @Html.TextBoxFor(m => m.endDate, new { @Value = Model.endDate == null ? "" : Model.endDate.Value.ToString("yyyy-MM-dd hh:mm:ss"), @class = "form-control", @size = "16", @readOnly = "readOnly" })

                            <span class="add-on input-group-addon"><span class="icon-remove glyphicon glyphicon-remove"></span></span>
                            <span class="add-on input-group-addon"><span class="icon-calendar glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>


                    @if (Model.node == 101)
                    {
                        @Html.Partial("_taskScriptView", Model.taskScripts)

                    }
                    else if (Model.node == 102)
                    {
                        @Html.Partial("_taskStepView", Model.steps)
                    }
                </div>

            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary col-xs-2" />

                <div class="pull-right"><a href="/Topic/markdown" target="_blank"><i class="fa fa-tip"></i> 排版说明</a></div>
            </div>


        </div>
    </div>

}


