@using openCaseMaster.ViewModels
@using openCaseMaster.Models
@model List<topicModel_prev>
@{
    int nodeID = Convert.ToInt32(ViewBag.nodeID);
    string nodeName = nodeID == 0 ? "" : topicHelper.nodes[nodeID];
}
@section Scripts {

    <script type="text/javascript">
        $(function () {
            $("a[node-id='@nodeID']").addClass("popular");
        });
    </script>
}

<div class="row">
    <div class="col-md-9">
        <div class="topics panel panel-default">
            <div class="panel-heading clearfix">
                <div class="filter pull-left">
                    <strong style="font-weight: bold; color: #666;text-align: left; font-size: 16px;padding-bottom: 10px;">@nodeName</strong>
                </div>
                <div class="filter pull-right">
                    <span class="l">查看:</span>
                    <a href="/Topic/Index" node-id="0">全部</a> /
                    <a href="/Topic/node/101" node-id="101"><i class="glyphicon glyphicon-star"></i> @topicHelper.nodes[101]</a> /
                    <a href="/Topic/node/102" node-id="102"><i class="glyphicon glyphicon-star"></i> @topicHelper.nodes[102]</a>
                </div>
            </div>
            
            <div class="panel-body">
                @foreach (var tmv in Model)
                {
                    string css = "topic media";
                    if (tmv.power > 0)
                    {
                        css = "suggest_topic topic media";
                    }
                    <div class="@css">
                        <div class="avatar media-left">
                            <a href="#"><img class="media-object avatar-48" src="@tmv.User.AvatarUrl"></a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="@tmv.title" href="/Topic/@tmv.ID">@tmv.title</a>
                            </div>
                            <div class="info">
                                @if (tmv.nodeID == 101)
                                {
                                    <a class="node script" href="/Topic/node/@tmv.nodeID">@tmv.nodeText</a>
                                }
                                else if (tmv.nodeID == 102)
                                {
                                    <a class="node step" href="/Topic/node/@tmv.nodeID">@tmv.nodeText</a>
                                }
                                else
                                {
                                    <a class="node" href="/Topic/node/@tmv.nodeID">@tmv.nodeText</a>
                                }

                                •
                                <a href="/user/userInfo/@tmv.User.userName">@tmv.User.userName</a>
                                <span class="hidden-mobile">
                                    于 <abbr class="timeago" title="@tmv.creatDate">@tmv.timeago</abbr>发布
                                </span>

                            </div>
                        </div>
                        @if (tmv.replyCnt != 0)
                        {
                            <div class="count media-right">
                                <a class="state-false" title="回复" href="/Topic/@tmv.ID">@tmv.replyCnt</a>
                            </div>
                        }

                    </div>
                }
            </div>
            @Html.Pagination((int)ViewBag.page, (int)ViewBag.total, (int)ViewBag.rows)
        </div>



        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand">节点分类导航</span>
            </div>
            <div>
                <ul class="nav navbar-nav">

                    @foreach (var dic in topicHelper.Groups)
                    {
                        <li class="dropdown dropup">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @dic.Key <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu ">
                                @foreach (var li in topicHelper.nodesList.Where(t => t.Group.Name == dic.Key))
                                {
                                    <li><a href="/Topic/node/@li.Key">@li.Value</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-3">

        <div class="panel panel-default clearfix">
            <div class="panel-body">
                <div class="btn-group pull-left">
                    <a class="btn btn-primary" href="/Topic/add">发布新话题</a>

                    @if (User.IsInRole("admin"))
                    {
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Topic/add">普通话题</a>
                            </li>
                            <li>
                                <a href="/Topic/adminAdd">测试任务</a>
                            </li>
                        </ul>
                    }

                </div>


            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">小帖士</div>
            <div class="panel-body">
                安卓客户端即将上线
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">众测客户端下载地址</div>

            <ul class="list-group">
                <li class="list-group-item" align="center">
                    <a href="#"><img src="~/Content/images/app.jpg"></a>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">统计信息</div>
            <ul class="list-group">
                <li class="list-group-item">帖子数: 9082 个</li>
                <li class="list-group-item">当前任务: 4865 个</li>
                <li class="list-group-item">测试案例: 41543 条</li>
            </ul>
        </div>
    </div>

</div>
