@using openCaseMaster.ViewModels
@using openCaseMaster.Models
@model taskModel_view

@section Scripts {
    <link rel="stylesheet" href="/Content/editormd.preview.css" />

    <script src="/Scripts/editormd/lib/marked.min.js"></script>
    <script src="/Scripts/editormd/lib/prettify.min.js"></script>
    <script src="/Scripts/editormd/lib/raphael.min.js"></script>
    <script src="/Scripts/editormd/lib/underscore.min.js"></script>
    <script src="/Scripts/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/Scripts/editormd/lib/flowchart.min.js"></script>
    <script src="/Scripts/editormd/lib/jquery.flowchart.min.js"></script>

    <script src="/Scripts/editormd.js"></script>
    <script type="text/javascript">
        $(function () {

            @if (ViewBag.clear == true)
            {
                @Html.Raw("localStorage.clear();");
            }

            editormd.markdownToHTML("markdownView", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });

            $("a[method=post]").click(function () {
                var cf = true;
                if (this.getAttribute("confirm"))
                    cf = confirm(this.getAttribute("confirm"));
                if (cf) {
                    var temp = document.createElement("form");
                    temp.action = this.href;
                    temp.method = "post";
                    temp.style.display = "none";
                    document.body.appendChild(temp);
                    temp.submit();
                }
                return false;
            });
        });
    </script>

}

<div class="col-md-9">
    <div class="topic-detail panel panel-default">
        <div class="panel-heading media clearfix">
            <div class="media-body">
                <h1 class="media-heading">@Model.title</h1>
                <div class="info">
                    <a class="node" href="/PublicTask/node/@Model.nodeID">@Model.nodeText</a>
                    ·
                    <a data-author="true" data-name="tongyx" href="#">@Model.userName</a>
                    ·
                    于 <abbr class="timeago" title="@Model.creatDate">@Model.timeago</abbr>发布

                </div>
            </div>
            <div class="avatar media-right">
                <a href="#"><img class="media-object avatar-48" src="~/Content/images/everyone.jpg"></a>
            </div>
        </div>

        <div class="panel-body markdown" id="markdownView">

            <textarea id="append-test" style="display:none;">
@Model.body
            </textarea>
        </div>
    </div>
    @if (Model.userID == userHelper.getUserID())
    {
        <div class="panel-footer clearfix">
            <div class="opts">


                <a class="knot" href="#"><i class="fa fa-lock" style="color:#ff6a00"></i> 关闭任务</a>



                <span class="pull-right opts">
                    @if (Model.nodeID < 200)
                    {

                        <a class="fa fa-pencil" title="修改本帖" href="editTask/@Model.ID"></a>

                    }
                    else
                    {
                        <a class="fa fa-pencil" title="修改本帖" href="edit/@Model.ID"></a>
                    }
                    <a confirm="确定要删除吗？" class="fa fa-trash" title="删除本帖" method="post" href="Delete/@Model.ID"></a>

                </span>
            </div>
        </div>
    }


    @if (Model.taskInfo != null)
    {
        <div class="panel-footer clearfix">

            <table class="table" style="table-layout:fixed">
                <caption><b>测试app:</b><a href="#">@Model.taskInfo.appName</a> </caption>
                <thead>
                    <tr>
                        <th width="20%">编号</th>
                        <th>案例</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var d in Model.taskInfo.taskScripts)
                    {
                        <tr>
                            <td>@i</td>
                            <td nowrap style="overflow:hidden; text-overflow:ellipsis;"><a href="#">@d.Value</a></td>
        </tr>
                        { i++; }
                    }

                </tbody>
            </table>

        </div>
    }



</div>
