<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 自动化案例管理平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("案例管理平台", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            自动化测试
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/TestCase/Index">案例管理</a></li>
                            <li><a href="/userStepControl/Index">自定义组件</a></li>
                            <li><a href="/RunCase/Index">调度执行</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/Index">测试报告</a></li>
                            <li>@Html.ActionLink("设备状态", "DeviceView", "Device")</li>
                            <li class="divider"></li>
                            <li><a target="_blank" href="~/调试客户端.rar">下载调试客户端</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            系统设置
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Device/DeviceManage">设备管理</a></li>
                            <li><a href="/Project/ProjectManage">项目管理</a></li>
                            <li><a href="/User/UserManage">用户管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            教程
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("平台使用", "Index", "tutorial")</li>
                            <li>@Html.ActionLink("框架帮助", "framework", "tutorial")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("关于我们", "About", "Home")</li>
                   
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
         
        </div>
        
        
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
   
    
 
</body>
</html>
